---
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Encontre seu imóvel aqui | Borghi Imóveis"
  description="Homepage do borghi imóveis."
>
  <main>
    <h1 class="text-red-500">Hello world</h1>
  </main>
</Layout>
